/* ==================== GLOBAL CSS ====================== */
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&family=Quattrocento+Sans&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 100%;
}
/* Variables */
:root {
  /* COLORS */
  /* primary */
  --primary-100: #d8eefe;
  --primary-200: #b1ddfe;
  --primary-300: #8bcdfd;
  --primary-400: #64bafd;
  --primary-500: #3da9fc;
  --primary-600: #3187ca;
  --primary-700: #256597;
  --primary-800: #184465;
  --primary-900: #0c2232;
  /* grey */
  --grey-50: #f9fafb;
  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;
  /* secondary */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* TYPOGRAPHY */
  --headingFont: 'Quattrocento', serif;
  --bodyFont: 'Quattrocento Sans', sans-serif;
  --letterSpacing: 1.2px;
  /* BORDER */
  --borderRadius: 0.25rem;
  /* TRANSITION */
  --transition: 0.3s ease-in-out all;
  /* WIDTH */
  --max-width: 1120px;
  --fixed-width: 600px;
  --view-width: 90vw;
  /* dark mode setup */
  --dark-mode-bg-color: #333;
  --dark-mode-text-color: var(--primary-500);
  --backgroundColor: var(--grey-100);
  --textColor: var(--primary-600);
  --iconColor: var(--grey-600);
  --darkModeTransition: color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --textColor: var(--dark-mode-text-color);
    --backgroundColor: var(--dark-mode-bg-color);
  }
} */

.dark-theme {
  --textColor: var(--dark-mode-text-color);
  --backgroundColor: var(--dark-mode-bg-color);
  --iconColor: var(--white);
}

/* Typography */
body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-weight: 400;
  line-height: 1.75;
  transition: var(--darkModeTransition);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}
h1 {
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
small,
.text-small {
  font-size: var(--smallText);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
/* loading */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.fetching {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: red;
}
.loading {
  width: 3rem;
  height: 3rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}
.no-image {
  width: 6rem;
  margin-bottom: 1rem;
}
/* ==================== PROJECT CSS ====================== */
/*  
===============
THEME TOGGLE
===============
*/
.toggle-container {
  width: var(--view-width);
  max-width: var(--max-width);
  margin-inline: auto;
  padding-block: 1rem;
  display: flex;
  justify-content: flex-end;
}
.dark-toggle {
  border: transparent;
  background: transparent;
  display: grid;
  place-items: center;
  cursor: pointer;
  width: 5rem;
  height: 2rem;
}
.toggle-icon {
  font-size: 1.5rem;
  color: var(--iconColor);
}
/*  
===============
SEARCH FORM
===============
*/
.form-section {
  width: var(--view-width);
  max-width: var(--fixed-width);
  margin-inline: auto;
  margin-top: 2rem;
  padding-block: 1rem;
  text-align: center;
}
.title {
  margin-bottom: 1.5rem;
}
.search-form {
  display: grid;
  grid-template-columns: 1fr auto;
}
.form-input {
  padding: 0.5rem;
  border: 1px solid var(--grey-300);
  border-right: none;
  border-top-left-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
  color: var(--textColor);
  font-weight: 600;
  background-color: var(--grey-100);
}
.form-input:focus {
  outline: 1px solid var(--primary-600);
  border: transparent;
}
.search-input {
  color: var(--textColor);
  border: transparent;
  transition: var(--darkModeTransition);
}
.btn {
  padding: 0.5rem;
  border: transparent;
  background-color: var(--primary-600);
  color: white;
  font-weight: 600;
  letter-spacing: var(--letterSpacing);
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  cursor: pointer;
}
.btn:hover {
  background-color: var(--primary-800);
}
/*  
===============
GALLERY
===============
*/
.image-container {
  width: var(--view-width);
  max-width: var(--max-width);
  display: grid;
  place-items: center;
  gap: 2rem;
  margin: 3rem auto;
}
.image {
  width: 100%;
  height: 16rem;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
}

@media (min-width: 768px) {
  .image-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .image-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
